.alert-success {
    border-color: #fff!important;
    background-color: #fff!important;
    color: #0B3A29!important;
    text-align: center;
}
.btn-login {
    border-color: #ff9004 !important;
    background-color: #ff9004 !important;
    color: #FFF;
}